body {
    background-color: lightblue;
  }
  
  h1 {
    color: white;
    text-align: left;
  }
  
  p {
    font-family: verdana;
    font-size: 20px;
  }
  
  .my_paragraph {
      color: green;
      border: 2px red solid;
      font-size: 40px;
  }